.title {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
    height: 15%;
    background-image: url(http://fontmeme.com/permalink/161116/af451af12ec7bfcd378403e278c253f5.png);
    background-repeat: no-repeat;
    transform: translate(25%, 25%);
}
/*h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;

}*/
head {
    margin: 0;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

header {
    color: yellow;
    height: 25%;
}

nav {
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 10%;
    margin-left: 5%;
}
li:hover{
    cursor: pointer;
}
button:hover {
    cursor: pointer;
}
.game_logo {
    width: 13%;
    height: 20%;
    margin-top: 15%;
    margin-left: 1.8%;
    border: solid white 1px;
}

.header_container {
    margin-bottom: 7%;
    height: 75vh;
    width: 100vw;
    margin-bottom: 0;

}
.head_div {
    height: 15%;

}
.stats_container {
    color: yellow;
    text-shadow: 2px 2px 2px black;
    border: solid lawngreen 0.3em;
    border-bottom-left-radius: 4em;
    border-bottom-right-radius: 4em;
    width: 10%;
    height: 50%;
    float: left;
    text-align: center;
    margin-left: 3%;
    margin-top: 10.3%;
    Padding-top: 3%;
    padding-bottom: 5%;
    background-color: rgba(0,589,0,0.3);

}

.main_container {
    background-image: url(https://s-media-cache-ak0.pinimg.com/originals/f1/b5/36/f1b5369d974bee9048dab3c0c47af16e.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 150vh;

}

.main_content {
    height: 100%;
    width: 100%;

}

.card {
    display: inline-block;
    width: 150px;
    height: 200px;
    position: relative;
    margin: 1%;
    overflow: hidden;
    border-radius: 10px;
    border: solid grey 1px;

}
.card:hover{
    cursor: pointer;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;

}

#game-area {
    float: right;
    width: 85%;

}